html{
  min-height: 100%;
  position:relative;
}
body {
  background-color: $black-light !important;
  margin: 0;
  padding:0;
  font-family: 'Rubik' !important;
}
section{
  font-family: 'Rubik' !important;
}
.container-standard{
  @include container-dimensions(1);
}
.container-wide{
  @include container-dimensions(1.1);
}
.container-small{
  @include container-dimensions(0.9);
}
.container-extra-small{
  @include container-dimensions(0.6);
}
.content{
  padding-bottom:150px;
  @media(max-width:767px){
    padding-bottom:300px;
  }
}
