.landing{
  padding-top: 100px;
  text-align: center;
  h1{
    color: $blue;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 50px;
  }
  h4{
    color: white;
    font-size: 20px;
    font-weight: lighter;
  }
}
