<div class="landing">
  <h1>Adam Czarnocki</h1>
  <h4>A superb bird-of-paradise.
    Creative, functional and alluring.<br/>
    From our inspiring bird’s nest in Enschede,
    our creative specialists work<br/> on an international
    level at branding, design and development.
    Both online and offline.</h4>
</div>
